*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    
}

.container{
    margin: 0px auto;
}

h1{
    font-size: 60px;
    color: white;
    width: 65%;
    padding: 300px 0px 0px 250px;
}

.titulo{
    background-color: #3734A9;
    height: 939px;
    width: 50%;
}

.formulario{
    width: 50%;
    background-color: white;
    padding: 150px 0px 0px 80px;

}

.interno p{
    color: #3734A9;
    font-weight: bold;
    padding: 40px 0px 30px ;
    width: 29%;
}

form label{
    Color: rgb(150, 149, 149);
}

form input{
  background-color: rgb(241, 241, 241);
  width: 450px;
  height: 50px;
  border: 1px solid rgba(192, 191, 191, 0.548); ;
  display: block;
  margin-top: 10px;

}

form .senha{
    margin-top: 30px;
}


form button{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: #2BF2F6;
    color: #3734A9;
    margin: 40px 0px 0px 290px ; 
    padding: 15px 40px ;
    border-radius: 50px;
    border: #2BF2F6

}

.flex{
    display: flex;
    justify-content: space-between;
}

.block{
    display: inline-block;
}
