*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 1200px;
    margin: 0px auto    ;
}

header{
    background-color: #FFFFFF;
    padding: 35px 0px ;
}

header .flex{
    align-items: center;
}

/* header section figure{
    float: left;
}
header section nav{
    float: right;
} */

header nav a{
    text-decoration: none;
    color: #3734A9;
    font-size: 20px;
    margin: 0px 25px 0px 0px;
    font-weight: 700;
}

header nav a:last-child{
    background-color: #2BF2F6;
    padding: 15px 30px;
    border-radius: 50px;
}

header nav a:last-child img{
    position: relative;
    top: 5px;
}

main{
    clear: both;
    background-color: #3734A9;
    padding: 120px 0px;
}

main .flex{
    align-items: center;
}
    /* main .textos{
        display: inline-block;
        width: 45%;
        margin-right: 100px;
    }
    main .dashboard{
        display: inline-block;
        width: 45%;    
    } */

main .textos h1{
    color: #FFFFFF;
    font-size: 60px;
    width: 85%;
}

main .textos p{
    color: #FFFFFF;
    font-size: 24px;
    width: 80%;
    margin: 20px 0px;
    line-height: 150%;
}

main .textos a{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        background-color: #2BF2F6;
        margin: 0px 20px 0px 0px ; 
        padding: 15px 30px ;
        border-radius: 50px;
        display: inline-block;
}

main .textos a:last-child{
    background-color: #3734A9;
    color: #2BF2F6;
    border: 3px solid #2BF2F6
}

footer{
    background-color: #2BF2F6;
    padding: 55px 0px;
}

footer a {
    color: blue;
    font-size: 18px;
    margin: 0px 25px 0px 0px;
    text-decoration: none;
}

footer .container > a{
        font-weight: bold;
        
}

.flex{
    display: flex;
    justify-content: space-between;
}
